/*Rey Read Me st:-STyle*/

/*a{
    color: #FF0000;  
    background-color: rgba(228, 26, 26, 0);
    color: #FF0000;   
    font-size: larger; 
    position: relative;
    padding-left: 20px;
    left: 31%;
    top: 200px;
    text-align: center;  
}


*/
